<!DOCTYPE html>
<html lang="{% if site.lang %}{{ site.lang }}{% else %}zh{% endif %}">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ff9950">
    <title>
      {% if page.title == "Home" %}
        {{ site.title }}
      {% else %}
        {{ page.title }} - {{ site.title }}
      {% endif %}
    </title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css"> 
  </head>

  <body>

    {% include sidebar.html %}

    <div class="wrap {% if page.toc %}has-toc{% endif %}">

      <div class="masthead">
        <a href="{{ site.baseurl }}/" title="{{ site.title }}">
          <img class="masthead-logo" src="{{ site.baseurl }}{{ site.logo }}"/>
        </a>
      </div>

      <div class="container">
        <!--[if lt IE 7]>
        <style>.container{margin:0 300px!important;}</style>
        <![endif]-->
        <!--[if lt IE 9]>
        <style>.container{max-width:600px!important;}.sidebar, .sidebar-toggle{display:none!important;}</style>
        <p class="warning">当前浏览器版本过低，请更新到最新的浏览器（IE 9+），否则页面可能无法正常显示。</p><hr>
        <![endif]-->
        <!--[if (IE 8)|(IE 9)]>
        <script src="https://cdn.bootcss.com/classlist/1.1.20170427/classList.min.js"></script>
        <![endif]-->
        {{ content }}
      </div>
    </div>

    {% include footnote.html %}

    <label for="sidebar-checkbox" class="sidebar-toggle" id="sidebar-toggle"><div id="overlay"></div></label>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');

    </script>
    {% endif %}
    <script>
    (function(){ // todo list
      lists = document.querySelectorAll('.tdl');
      for (var i = 0; i < lists.length; i++) {
        items = lists[i].getElementsByTagName('li');
        for (var j = 0; j < items.length; j++) {
          items[j].innerHTML = items[j].innerHTML.replace('[ ]', '<input type="checkbox">').replace('[*]', '<input type="checkbox" checked>');
        }
      }
    })();

    (function(){  // responsive iframe
      videos = document.querySelectorAll('.video');
      for (var i = 0; i < videos.length; i++) {
        video_frame = document.createElement('iframe');
        video_frame.src = videos[i].innerHTML;
        video_frame.setAttribute('frameborder','0');
        video_frame.setAttribute('allowfullscreen','');
        videos[i].appendChild(video_frame);
      }
    })();

    (function(){  // if audio in page, load bplayer (not compatible with IE 8).
        var c = document.getElementsByTagName('audio');
        if (c.length) {
          for (var i = 0; i < c.length; i++) {
            if (!c[i].getAttribute('cover')) { c[i].setAttribute('cover', '{{ site.baseurl }}/img/music.jpg'); }
            if (!c[i].getAttribute('color')) { c[i].setAttribute('color', '#e17aa0'); }
            c[i].setAttribute('controls', '');
          }
          var d = document.createElement('style');
          d.innerHTML = "@font-face {font-family: 'iconfont_bplayer';src: url('{{ site.baseurl }}/extra/bPlayer_font.woff') format('woff')}";
          document.body.appendChild(d); // use document.body.innerHTML += '<style>' will trigger a wierd bug, which will convert DOM variables to virtual DOM (maybe for XSS secure reasons). Revert.
          var a = document.createElement('link');
          a.rel = 'stylesheet';
          a.href = '{{ site.baseurl }}/extra/bplayer.min.css';
          document.body.appendChild(a);
          var b = document.createElement('script');
          b.src = '{{ site.baseurl }}/extra/bplayer.min.js';
          document.body.appendChild(b);
        }
    })();

    (function() { // foldable
        var f = document.querySelectorAll('.fold');
        for (var i = 0; i < f.length; i++) {
          var s = document.createElement('div');
          s.className = 'foldable';
          s.innerHTML = '<input type="checkbox" id="fold-' + i + '" class="fold-check"></input>';
          if (f[i].getAttribute('alt')) {
            s.innerHTML += '<label for="fold-' + i + '" class="fold-title">' + '<span class="fold-icon"></span>' + f[i].getAttribute('alt') + '</label>';
          } else {
            s.innerHTML += '<label for="fold-' + i + '" class="fold-title">' + '<span class="fold-icon"></span>' + 'Click Here' + '</label>';
          }
          if (f[i].tagName === 'P') {
            s.innerHTML += '<div class="fold-content"><p>' + f[i].innerHTML + '</p></div>';
          } else {
            s.innerHTML += '<div class="fold-content">' + f[i].innerHTML + '</div>';
          }
          f[i].parentNode.insertBefore(s, f[i]);
          f[i].parentNode.removeChild(f[i]);
        }
    })();

    {% if site.relative_path %}

    (function(){
      var baseurl = '{{ site.baseurl }}';
      var path = window.location.pathname;
      if (path.indexOf('_site') != -1) { // you may need to change `_site` to your local path name
        path = path.slice(path.indexOf('_site') + 5);
      }
      if (path.indexOf(baseurl + '/') != -1) { // compatibility for online mode
        path = path.slice(path.indexOf(baseurl) + baseurl.length);
      }
      var depth = path.split('/').length - 1;
      var rooturl = '.';
      if (depth > 1) {
        var rootbox = [];
        for (var i = 0; i < depth - 1; i++) {
          rootbox.push('..');
        }
        rooturl = rootbox.join('/');
      }
      var links = document.querySelectorAll('[href^="' + baseurl + '/"]');
      for (var i = 0; i < links.length; i++) {
        var href_tmp = links[i].getAttribute('href');
        links[i].setAttribute('href', rooturl + href_tmp.slice(baseurl.length));
        if (href_tmp.slice(-1) === '/') { // handle with '/'
          links[i].setAttribute('href', links[i].getAttribute('href') + 'index.html');
        } else if (href_tmp.split('/')[href_tmp.split('/').length - 1].indexOf('.') === -1) {  // handle with '/index'
          if (href_tmp.indexOf('#') != -1) {
            if (href_tmp.slice(href_tmp.indexOf('#') - 1, href_tmp.indexOf('#')) === '/') {
              links[i].setAttribute('href', links[i].getAttribute('href').split('#').join('index.html#'));
            } else {
              links[i].setAttribute('href', links[i].getAttribute('href').split('#').join('.html#'));
            }
          } else {
            links[i].setAttribute('href', links[i].getAttribute('href') + '.html');
          }
        }
      }
      var srcs = document.querySelectorAll('[src^="' + baseurl + '/"]');
      for (var i = 0; i < srcs.length; i++) {
        srcs[i].setAttribute('src', rooturl + srcs[i].getAttribute('src').slice(baseurl.length));
      }
    })();

    {% endif %}
    </script>
  </body>
</html>
