---
layout: default
title: Home
---
<div>
  <h1>项目</h1>
  <ul>
      <li><a href="https://yifeitao.com/zhaowendao/">朝闻道</a> <sub>价值投资实践</sub></li>
      <li><a href="https://yifeitao.com/wiki/">wiki</a></li>
  </ul>
</div>
<div class="posts">
  <h1>最新文章</h1>
  <ul>
  {% for post in site.posts %}
    {% if forloop.index > site.recent_post %}
    {% break %}
    {% endif %}
    <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date: "%Y.%m.%d" }}</span>
    </li>
  {% endfor %}
  </ul>
  <h1>更多文章</h1>
    <ul id="show">
        <li><a href="{{ site.baseurl}}/recommend">推荐</a></li>
        <li><a href="{{ site.baseurl}}/archive">归档</a></li>
        <li><a href="{{ site.baseurl}}/categories">分类</a></li>
        <li><a href="{{ site.baseurl}}/tags">标签</a></li>
        <li><a href="{{ site.baseurl}}/search">搜索</a></li>
    </ul>
</div>
