---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <article>{{ content }}</article>
  <div class="social-share"></div>
  {% if page.mathjax %}
  <script src="https://cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML">
    MathJax.Hub.Config({ 
      tex2jax: { 
        inlineMath: [ ['$','$'], ["\\(","\\)"] ], 
        displayMath:[ ["$$","$$"], ["\\[","\\]"] ], 
        processEscapes: true 
      } 
    });
  </script>
  {% endif %}

  {% if page.comment and site.comments_provider %}
  <hr>
  {% include {{site.comments_provider}}.html %}
  {% endif %}
</div>

{% if page.toc %}
{% include toc.html %}
{% endif %}
